@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body{
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 769px){
    .header{
        background: #f5f5f6;
        padding: 0.868vw 7.813vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .headerPhone{
      display: none;
    }
    .headerMenuPhone{
      display: none;
    }
    .logo img{
        width: 7.726vw;
        height: 1.997vw;
    }
    .headerMenu{
        text-align: center;
        display: flex;
        flex-direction: row;
    }
    .headerMenu p{
        text-decoration: none;
        color: #959BA4;
        margin-right: 1.736vw;
        font-size: 1.128vw;
        letter-spacing: 0.06em;
        font-style: normal;
        font-weight: 500;
        line-height: 1.128vw;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
    }
    .headerMenu p:first-child{
        color: black;
    }
    .login button {
        background-color: #fff;
        border: none;
        font-style: normal;
        font-weight: 500;
        font-size: 1.128vw;
        line-height: 1.128vw;
        padding: 0.434vw;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
      }
      .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .main h1 {
        width: 50.955vw;
        margin-top: 4.861vw;
        font-style: normal;
        font-weight: 700;
        font-size: 3.125vw;
        line-height: 3.646vw;
        margin-bottom: 3.472vw;
        font-family: 'Roboto', sans-serif;
      }
      .calculator {
        display: flex;
        justify-content: flex-start;
        max-width: 55.642vw;
        align-items: center;
        font-family: 'Roboto', sans-serif;
      }
      .calculator .left {
        margin-right: 10.677vw;
        width: 22.483vw;
      }
      .calculator .right {
        width: 22.483vw;
      }
      .calculator p {
        color: #9F9F9F;
        font-size: 1.216vw;
      }
      .calculator .leftValueButtons, .calculator .rightValueButtons {
        font-size: 0px;
        margin-bottom: 1.736vw;
        margin-top: 0.087vw;
        font-family: 'Roboto';
      }
      .calculator .leftValueButtons button, .calculator .rightValueButtons button {
        border-radius: 0px;
        border: 1px solid #E5E5E5;
        outline: none;
        padding: 0.868vw 1.696vw;
        font-weight: 400;
        font-family: 'Roboto';
        cursor: pointer;
        font-size: 1.042vw;
      }
      .calculator .leftValueButtons button.actived, .calculator .rightValueButtons button.actived {
        background: #833AE0;
        color: #fff;
      }
      .calculator .leftValueButtons button:hover, .calculator .rightValueButtons button:hover{
        background-color: #833AE0;
        color: #fff;
      }
      .calculator .leftValueButtons .first, .calculator .rightValueButtons .first {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      .calculator .leftValueButtons .last, .calculator .rightValueButtons .last {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      .calculator .price {
        height: 8.854vw;
        font-family: 'Roboto';
        border: 1px solid #E5E5E5;
        border-radius: 3px;
        padding: 0.868vw 1.302vw;
      }
      .calculator .price p {
        font-style: normal;
        font-weight: 400;
        font-size: 1.042vw;
        line-height: 1.215vw;
        display: flex;
        align-items: center;
      }
      .calculator .price input {
        width: 100%;
        height: 3.472vw;
        font-size: 3.472vw;
        margin-bottom: 0.868vw;
        outline: none;
        border: none;
        font-weight: 700;
        line-height: 3.646vw;
        margin-bottom: 2.604vw;
      }
}
@media screen and (max-width: 768px) and (min-width: 320px) {
  .headerPhone{
    background: #f5f5f6;
    padding: 0.908vw 5.21vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .phoneElement{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header{
    display: none;
  }
  .logoPhone img{
      width: 89px;
      height: 23px;
  }
  .headerMenuPhone{
      /* text-align: center;
      display: flex;
      flex-direction: row; */
      display: none;
      flex-direction: column;
      background-color: rebeccapurple;
      position: fixed;
      top: 50px;
      right: 2.604vw;
      padding: 2px 20px;
      
  }
  .headerMenuPhone p{
    
      text-decoration: none;
      color: #959BA4;
      margin-right: 1.736vw;
      font-size: 12.995px;
      letter-spacing: 0.06em;
      font-style: normal;
      font-weight: 500;
      line-height: 1.128vw;
      font-family: 'Roboto', sans-serif;
      cursor: pointer;
      
  }
  .menuLogo img{
    width: 30px;
    height: 30px;
  }
  .headerMenuPhone p:first-child{
      color: black;
  }
  .loginPhone button {
    background-color: #fff;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12.995px;
    line-height: 12.995px;
    padding: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    margin-right: 8px;
  }
      .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .main h1{
        margin-top: 40px;
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 3.646vw;
        margin-bottom: 20px;
        font-family: 'Roboto', sans-serif;
      }
      .calculator {
        display: flex;
        flex-direction: column;
        max-width: 259px;
        align-items: center;
        font-family: 'Roboto', sans-serif;
      }
      .calculator .left {
        width: 259px;
      }
      .calculator .right {
        width: 259px;
      }
      .calculator p {
        color: #9F9F9F;
        font-size: 14px;
      }
      .calculator .leftValueButtons, .calculator .rightValueButtons {
        font-size: 0px;
        margin-bottom: 19.999px;
        margin-top: 1.002px;
        font-family: 'Roboto';
      }
      .calculator .leftValueButtons button, .calculator .rightValueButtons button {
        border-radius: 0px;
        border: 1px solid #E5E5E5;
        outline: none;
        padding: 9.999px 19.538px;
        font-weight: 400;
        font-family: 'Roboto';
        cursor: pointer;
        font-size: 12px;
      }
      .calculator .leftValueButtons button.actived, .calculator .rightValueButtons button.actived {
        background: #833AE0;
        color: #fff;
      }
      .calculator .leftValueButtons button:hover, .calculator .rightValueButtons button:hover{
        background-color: #833AE0;
        color: #fff;
      }
      .calculator .leftValueButtons .first, .calculator .rightValueButtons .first {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      .calculator .leftValueButtons .last, .calculator .rightValueButtons .last {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      .calculator .price {
        height: 102px;
        font-family: 'Roboto';
        border: 1px solid #E5E5E5;
        border-radius: 3px;
        padding: 10px 15px;
      }
      .calculator .price p {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 13.997px;
        display: flex;
        align-items: center;
      }
      .calculator .price input {
        width: 100%;
        height: 40px;
        font-size: 36px;
        margin-bottom: 0.868vw;
        outline: none;
        border: none;
        font-weight: 700;
        line-height: 42.002px;
        margin-bottom: 29.998px;
      }
}